

<%= link_to project_assignments_path(@project) do %>
			<%= fa_icon "list-alt 2x" %> <button type="button" class="btn btn-primary add_margin">
	  		Your assignments <span class="badge badge-light"><%= @assignment %></span>
			</button><br/>

		<% end %>