<strong>Rank:</strong>
<div class="form-group row">
<div class="col-sm-10 no-right-padding">
<%= select_tag "rank", options_for_select([ "Project Manager", "Project Lead", "Lead Developer","Team Manager","Human resource manager","Frontend Developer", "Backend Developer", "Fullstack Developer"], "Project Lead") %>
</div>
</div>
