@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

.welcome{
  margin-top: 1.5rem;
  letter-spacing: 0.3rem;
  margin-bottom: 4rem;
}







.verse_1{
  font-size: 2rem;
  margin-top: 4rem;
}


#user_rank{
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.all {
  margin-top: 3rem;
}


nav {
  margin-bottom: 2rem;
}


.heading {
  margin-bottom: 1rem;
}

.add_pointer{
  cursor: pointer;

}


.slide{
  display: none;
}


.form-center{

  margin-top: 1rem;
}


.no-left-padding{
  padding: 0 !important;
}

.no-right-padding{
    padding: 0 !important;
}

.results-block{
  display: inline;
}


.color-blue{
  background-color: #212529;
  color: white;
}

.add_margin{
  margin-bottom: 1rem;
}

.show_progress{
  /*display: inline;*/
  margin-top: 2rem;
}
