@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

.welcome{
  margin-top: 1.5rem;
  letter-spacing: 0.3rem;
  margin-bottom: 4rem;
}







.verse_1{
  font-size: 2rem;
  margin-top: 4rem;
}

.ratings_star{
  cursor: pointer;
}


#user_rank{
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.all {
  margin-top: 3rem;
}


nav {
  margin-bottom: 2rem;
}


.heading {
  margin-bottom: 1rem;
}

.add_pointer{
  cursor: pointer;

}


.slide{
  display: none;
}


.form-center{

  margin-top: 1rem;
}


.no-left-padding{
  padding: 0 !important;
}

.no-right-padding{
    padding: 0 !important;
}

.results-block{
  display: inline;
}


.color-blue{
  background-color: #212529;
  color: white;
}

.add_margin{
  margin-bottom: 1rem;

}

.add_margin_above{ 
  margin-top: 10rem;
}

.add_margin_top_little{
  margin-top: 2rem;
}

.center_text{
  text-align: center;
   text-decoration: none;
}

#remove_text_decoration{
  text-decoration: none;
}

.show_progress{
  /*display: inline;*/
  margin-top: 2rem;
}

.search_area {
  margin-top: 4rem;
}



#delete_btn {
    text-decoration: none;
    color: red;
}

#edit_btn{
  text-decoration: none;
  color: darkgreen;
}


/*Rating stars*/












/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  

  }

  .rating-star ul {
    list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
  }

.rating-star ul > li.star {
     display:inline-block;
}

.rating-star ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}
/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}


.rating-star ul > li.star.selected > i.fa {
  color:#FF912C;
}
